:root {
  --pillar-rotate-x: 100deg;
  --pillar-rotate-y: -105deg;
  --pillar-rotate-y-offset: -5deg;
  --pillar-rotate-vector-x: 0.8;
  --pillar-rotate-vector-y: 0.5;
  --pillar-rotate-vector-z: 0;
  --pillar-rotate-angle: 55deg;
}
@keyframes growHeightFront {
  0% {
    transform: rotateY(55deg) translateZ(-80px) translateX(200px)
      translateY(400px);
    height: 0;
    opacity: 0.3;
  }
  50% {
    transform: rotateY(55deg) translateZ(-83px) translateX(197px)
      translateY(115px);
    height: 100%;
    opacity: 1;
  }
  90% {
    transform: rotateY(55deg) translateZ(-80px) translateX(200px)
      translateY(400px);
    height: 0;
  }
  100% {
    transform: rotateY(55deg) translateZ(-80px) translateX(200px)
      translateY(400px);
    opacity: 0;
  }
  /* 0%,
  100% {
    transform: rotateY(55deg) translateZ(-83px) translateX(197px)
      translateY(115px);
    height: 100%;
    opacity: 1;
  } */
}
@keyframes growHeightRight {
  0% {
    transform: rotateY(214deg) translateZ(-32px) translateX(460px)
      translateY(190px);
    height: 0;
    opacity: 0.3;
  }
  50% {
    transform: rotateY(214deg) translateZ(-32px) translateX(460px)
      translateY(-112px);
    height: 100%;
    opacity: 1;
  }
  90% {
    transform: rotateY(214deg) translateZ(-32px) translateX(460px)
      translateY(190px);
    height: 0;
  }
  100% {
    transform: rotateY(214deg) translateZ(-32px) translateX(460px)
      translateY(190px);
    opacity: 0;
  }

  /* 0%,
  100% {
    transform: rotateY(214deg) translateZ(-32px) translateX(460px)
      translateY(-112px);
    height: 100%;
    opacity: 1;
  } */
}

@keyframes riseTop {
  0% {
    transform: translateZ(16px) translateY(-86px) rotateX(62deg) rotateY(-60deg)
      rotateZ(190deg) translateX(7px) translateY(0px) skew(-2deg, -20deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-86px) rotateX(62deg) rotateY(-60deg) rotateZ(190deg)
      translateX(7px) translateZ(16px) translateY(0px) skew(-2deg, -20deg);
    opacity: 1;
  }
  90% {
    transform: translateY(-86px) rotateX(62deg) rotateY(-60deg) rotateZ(190deg)
      translateX(7px) translateZ(16px) translateY(0px) skew(-2deg, -20deg);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-86px) rotateX(62deg) rotateY(-60deg) rotateZ(190deg)
      translateX(7px) translateZ(16px) translateY(0px) skew(-2deg, -20deg);
    opacity: 0;
  }

  /* 0%,
  100% {
    transform: translateY(-86px) rotateX(62deg) rotateY(-60deg) rotateZ(190deg)
      translateX(7px) translateZ(16px) translateY(0px) skew(-2deg, -20deg);
    opacity: 1;
  } */
}

.animate-grow-height-front {
  animation: growHeightFront 2s ease-out forwards infinite;
  transform-origin: top;
}

.animate-grow-height-right {
  animation: growHeightRight 2s ease-out forwards infinite;
  transform-origin: top;
}
.animate-rise-top {
  animation: riseTop 2s ease-out forwards infinite;
}

/* 부모 요소에 추가할 스타일 */
/* .pillar-container {
  transform-style: preserve-3d;
  perspective: 1000px;
} */
