@keyframes growHeightFront {
  0% {
    transform: rotateY(83deg) translateZ(-43px) translateX(10px)
      translateY(150px);
    height: 0;
    opacity: 0.3;
  }
  50% {
    transform: rotateY(83deg) translateZ(-43px) translateX(10px) translateY(0);
    height: 100%;
    opacity: 1;
  }
  90% {
    transform: rotateY(83deg) translateZ(-43px) translateX(10px)
      translateY(150px);
    height: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes growHeightRight {
  0% {
    transform: rotateY(186deg) translateZ(-45px) translateX(25px)
      translateY(150px);
    height: 0;
    opacity: 0.3;
  }
  50% {
    transform: rotateY(186deg) translateZ(-45px) translateX(25px) translateY(0);
    height: 100%;
    opacity: 1;
  }
  90% {
    transform: rotateY(186deg) translateZ(-45px) translateX(25px)
      translateY(150px);
    height: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes riseTop {
  0% {
    transform: rotateX(90deg) translateX(-10px) translateZ(-95px) scaleY(0);
    opacity: 0.3;
  }
  100% {
    transform: rotateX(90deg) translateX(-10px) translateZ(-95px) scaleY(1);
    opacity: 1;
  }
}

.animate-grow-height-front {
  animation: growHeightFront 1.5s ease-out forwards;
  transform-origin: top;
}

.animate-grow-height-right {
  animation: growHeightRight 1.5s ease-out forwards;
  transform-origin: top;
}

.animate-rise-top {
  animation: riseTop 1s ease-out forwards;
}
