.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slideTrack {
  animation: scroll 100s linear infinite;
}

.slideTrack:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 60px)); /* gap의 절반을 고려 */
  }
}
